*.nupkg filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dll.so filter=lfs diff=lfs merge=lfs -text
**/*.dll.so filter=lfs diff=lfs merge=lfs -text
**/Magick.Native*.dll.so filter=lfs diff=lfs merge=lfs -text
