/bin
/obj
/.vs/zy_cutPicture/FileContentIndex/60f23c99-5ba6-43ff-84c6-5273024af543.vsidx
/.vs/zy_cutPicture/FileContentIndex/e3b8cbb0-315f-41b5-a059-8464db09fd74.vsidx
/.vs/zy_cutPicture/FileContentIndex/f351d544-e25e-4a62-af47-43a3e1fe27b7.vsidx
/.vs/zy_cutPicture/FileContentIndex/f91a7ecf-ed48-4b5b-afc1-c459162152b3.vsidx
/.vs/zy_cutPicture/FileContentIndex/0d17f387-ec03-497e-81c9-5743ead4598c.vsidx
/.vs/zy_cutPicture/v17/.suo
